

body, h1, td, th {
    margin:0;
    font-family: verdana, arial;
    font-size:9pt;
    text-align:left;
    color: #ABBF90;
    background: #111111;
    color:white;
}

h1, td, a {
    color: #ABBF90;
}

a:hover {
    color:white;
}

ul {
    margin-top:-0.05em;
    margin-bottom:-0.05em;
}

li {
    margin-left:-2em;
}

table {
    border-collapse: collapse;
}

table.main {
    border:1px solid #ABBF90;
    width:100%;
    padding:0px;
    marging:0px;
}

table.main th {
    background:#ABBF90;
    color:black;
    padding:2px;
    margin:0px;
    text-align:center;
    font-size:10pt;
    font-weight:bold;
}

table.main td {
    border:1px solid #ABBF90;
    padding:5px;
}
table.main td {
    border:1px solid #ABBF90;
}



table.sortable {
    width:100%;
    border:1px solid #ABBF90;
}

table.sortable th {
    padding:5px;
    text-align:center;
    font-weight:bold;
    background:black;
    color:white;
    border:1px solid #ABBF90;
}

table.sortable td {
    color:white;
}

h1 {
    font-size:16pt;
    padding-bottom:20px;
    font-style:italic;
}

a {
    text-decoration:none;
}
